<%# LEFT SIDEBAR %>
<div class="container">
    <div class="row">

        <div class="col-xs-3">
            <h2>User info</h2>
            <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "pull-left profile-thumb", fallback: "no_image.jpg" %>
            <table class="table">
                <tbody>
                    <tr></tr>
                    <tr>
                        <th>name</th>
                        <th><%= current_user.name %></th>
                    </tr>
                    <tr>
                        <th>introduction</th>
                        <th><%= current_user.introduction %></th>
                    </tr>
                    <tr>
                        <th>フォロー中</th>
                        <th>
                            <%= link_to user_following_path(current_user) do %>
                            <%= current_user.follower.count %>
                            <% end %>
                        </th>
                    </tr>
                    <tr>
                        <th>フォロワー</th>
                        <th>
                            <%= link_to user_followed_path(current_user) do %>
                            <%= current_user.followed.count %>
                            <% end %>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <%= link_to "", edit_user_path(current_user) ,class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_20819" %>
            </div>

            <h2>New book</h2>
                <%= form_for @book_new do |f| %>
                    <div class="field row">    
                        <label>Title</label><br>
                        <%= f.text_field :title, class:"col-xs-12" %>
                    </div>
                    <br>
                    <div class="field row">    
                        <label>Opinion</label><br>
                        <%= f.text_area :body, class:"col-xs-12" %>
                    </div>
                    <br>
                    <div class="actions row">
                        <%= f.submit class:"btn btn-primary col-xs-12" %>
                    </div>
                <% end %>
        </div>


<%# RIGHT MAINCONTENTS %>
        <div class="col-xs-9">
            <h2>Users</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>image</th>
                        <th>name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |user| %>
                        <tr>
                            <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image-icon.jpg" %></td>
                            <td><%= user.name %></td>
                            <td>フォロー数：<%= user.follower.count %></td>
                            <td>フォロワー数：<%= user.followed.count %></td>
                            <td>
                                <% unless user == current_user %>
                                    <% if current_user.following?(user) %>
                                        <%= link_to "フォローを外す", unfollow_path(user.id), method: :post %>
                                    <% else %>
                                        <%= link_to "フォローする", follow_path(user.id), method: :post %>
                                    <% end %>
                                <% end %>
                            </td>
                            <td><%= link_to "Show", user_path(user.id) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

    </div>
</div>